html, body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    color: rgb(64, 64, 64);
}

body {
    /*background-image: url('./bg.jpg')*/
}

#vue-app {
    height: 100%;
}

body, input, select, textarea {
    font: normal 14px/1.4 OpenSans,Arial,sans-serif;
}

.navigation-container + .content-container {
    margin-top: 48px;
}

.content-container {
    flex: 1;
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
    .slide-fade-enter-active {
        transition: all .2s ease;
      }
      .slide-fade-leave-active {
        transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
      }
      .slide-fade-enter, .slide-fade-leave-to
      /* .slide-fade-leave-active до версии 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
      }